.icons {
  position: relative;
  width: 100%;
  padding: 60px 3em 30px;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  background-color:white;
  z-index: 1;
}


.icons div {
  width:200px;
  padding: 0 10px;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

i {
  color:#004AAD;
  padding-top: 40px;
  padding-bottom: 20px;
}

h1 {
  margin-top:70px;
  padding-top:50px;
}

h4 {
  height:100px;
  margin:0;
  padding: 20px 0 20px;
  font-size:22px;
  display:flex;
  align-items: center;
  justify-content: center;
}

h4+p {
  padding-bottom: 60px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 80vh;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#carouselExampleIndicators,carousel-control-next,carousel-control-prev {
  height: 80vh!important;
}

div.parallax-image {
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  top: 0;
  margin-top: -100vh;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

#beach-banner {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height: 30vh;
  min-height: 300px;
}

.beaches {
  height:100%;
  width: 100%;
  max-width: 80%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.beaches h3 {
  color:white;
  font-weight: normal;
  margin:0;
  font-size:2rem;
  text-align: center;
}

.beaches-link {
  margin:0;
  border-radius: 100px;
  padding: 4px 30px;
  margin-top: 4px;
  border: 2px solid #ff9f00;
  width:fit-content;
  background-color: #ff9f00;
  color:white;
  transition:0.3s background-color;
  text-decoration: none;
  font-size:1.5rem;
  font-weight: normal;
  letter-spacing: 4px; 
}

.beaches-link:hover {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.galleries-container {
  padding: 150px 3em 180px;
  position: relative;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.galleries {
  max-width: 80%;
  height:100%;
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.gallery {
  display:inline-flex;
  width:40%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition:0.3s;
  font-size: 2.5em;
  padding:150px 0px;
  margin:15px;
  border: 2px solid black;
  border-radius: 4px;
}

.galleries a {
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  color:white;
  text-decoration: none;

}

.galleries a div {
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  color:white;
  text-decoration: none;
}

.gallery:hover {
  opacity:0.8;
}

@media only screen and (max-width: 415px) {
  .beaches-link {
    font-size:1em;
    padding: 4px 20px;
  }
  .gallery {
    padding:50px 0px;
  }
  h1 {
    margin-top:100px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 415px) {
  .gallery {
    padding:80px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-home{
    padding-right: 8px;
    margin-top:15px;
  }
  .galleries {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery {
    margin:10px auto;
  }
}

@media only screen and (max-width: 1054px) {
  .icons {
    flex-wrap: wrap;
  }
  h4+p {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 18px;
  }
  h4+p {
    font-size: 14px;
  }
  .galleries {
    flex-direction: column;
  }
  .gallery {
    width:100%;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .gallery {
    padding:100px 0px;
  }
}

@media only screen and (min-width: 1300px) {
  h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px)  {
  .gallery {
    width:100%;
    height:30vh;
  }
}

/* @media only screen and (min-width: 415px)  {
  .carousel-item {
    background-attachment: fixed;
  }
} */




